.lista {
  margin: auto;
}

.lista tr:nth-child(1) {
  vertical-align: top;
  background-color: rgb(25, 25, 73);
  color: white;
  font-weight: bold;
}

.lista tr:nth-child(3) {
  vertical-align: top;
  background-color: rgb(172, 172, 172);
  color: rgb(0, 0, 0);
}

.lista tr td {
  padding: 5px;
}
